html{
    scroll-behavior: smooth;
}
header{
    padding:50px;
}

img{
    border-radius: 50%;
    max-width: 200px;
    max-height: 200px;
    display:block;
    margin-left: auto;
    margin-right: auto;
}

#img-container{
    place-items: end center;
}

container{
    box-shadow: 5px 5px 10px 1px rgba(0, 0, 255, .2);
}

.break{
    padding:50px;
}

.links{
    text-align: center;
}

.contact{
    text-align: center;
}