html{
    scroll-behavior: smooth;
}

img{
    border-radius: 50%;
    max-width: 200px;
    max-height: 200px;
    display:block;
    margin-left: auto;
    margin-right: auto;
}

#img-container{
    place-items: end center;
    text-align: center;
}

#container{
    box-shadow: 0px 0px 15px 5px rgba(0, 0, 255, .2);
    border-radius: 15px;
}

.break{
    padding:50px;
}

#link-break{
    padding:25px
}
.links{
    text-align: center;
}

.contact{
    text-align: center;
}

p{
    padding-right: 25px;
    padding-left: 25px;
}

#bio{
    padding-right: 25px;
    text-align: justify;
  
}


#name{
    padding-right: 25px;
    padding-left: 25px;
    font-family: 'DM Sans', sans-serif;
}

.breakFree{
    color: #222;
    text-decoration: none;
}

.breakFree :hover{
    cursor: text !important;
    color: #222;
}

#footer{
    padding:20px;
}